<!DOCTYPE html>  
<html>  
    <head>  
        <meta charset="utf-8">  
        <title>實作EJS</title>  
        <link rel="stylesheet" href="styles.css">
    </head>  
    <body>  
        <h1><%= title %></h1>    
        <ul>  
            <% for(let i=0; i<users.length; i++) {%>  
                <li class = "ls"><%= users[i] %></li>  
            <% } %>  
        </ul>
        <style>
            .ls{
                font-size : 50px;
            }
        </style>  
    </body>  
</html> 