<!DOCTYPE html>  
<html>  
    <head>  
        <meta charset="utf-8">  
        <title>實作EJS</title>  
        <link rel="stylesheet" href="styles.css">
    </head>  
    <body>  
        <h1><%= title %></h1>    
        <ul>  
            <% for(let i=0; i<users.length; i++) {%>  
                <li style = "font-size: 50px;"><%= users[i] %></li>  
            <% } %>  
        </ul>
    </body>  
</html> 